<h2>Delicious Burgers!</h2>

<ul>
  {{#each burgers}}
    {{#unless devoured}}
      {{this.burger_name}}
    {{/unless}}
  {{/each}}
</ul>

<h2>these Burgers have been devoured!</h2>

<ul>
  {{#each burgers}}
    {{#if devoured}}
      {{this.burger_name}}
    {{/if}}
  {{/each}}
</ul>
